<input type="hidden" name="id" value="<%- huis.id %>" />
<!--         algemeen-->
<fieldset class="fieldsetRatingCard">
  <input class="inputRating" id="algemeen1" name="algemeenNumber" type="radio" value="1">
  <label aria-label="1 " for="algemeen1" class="labelRating"></label>

  <input class="inputRating" id="algemeen2" name="algemeenNumber" type="radio" value="2">
  <label aria-label="2 sterren" for="algemeen2" class="labelRating"></label>


  <input class="inputRating" id="algemeen3" name="algemeenNumber" type="radio" value="3">
  <label aria-label="3 sterren" for="algemeen3" class="labelRating"></label>


  <input class="inputRating" id="algemeen4" name="algemeenNumber" type="radio" value="4">
  <label aria-label="4 sterren" for="algemeen4" class="labelRating"></label>


  <input class="inputRating" id="algeemn5" name="algemeenNumber" type="radio" value="5">
  <label aria-label="5 sterren" for="algeemn5" class="labelRating"></label>

</fieldset>
 
<input type="submit" value="Rate" />
 
