<ul class="output_other_users">
    <li>keuken:<%= rating.keuken %></li>
    <li>badkamer:<%= rating.badkmaer %></li>
    <li>algemeneem:<%= rating.algemeen %></li>
    <li>tuin:<%= rating.tuin %></li>
</ul>

